/*  Phones */
.layout__container {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(5, 150px);
  gap: 10px;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #9fcfbe;
}

main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: #ff9999;
}

aside {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #abcdef;
}

footer {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #b433b4;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  aside {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  aside {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}

.layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
